<div class="question">
  <div class="q-and-a-header">Q:</div> Does it cost to vote?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> NO! Voting is free, and any donations are totally optional (but certainly appreciated). 
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> What's the point?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> Our goal for this study is to provide an accurate measure of the breadth, reach and efficiency of each non-profit organization's support network. If you support the cause and work of one of our profiled organizations, please vote accordingly and tell all your friends to do the same!
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> I was going to donate, but I usually get receipts for charitable donations. How would I go about getting a receipt?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> Due to the format of this study, we are unable to know exactly who the ultimate recipient will be until the contest closes on February 15th. We will be more than happy to provide specific receipts after the close of voting. In the meantime, please know that your donations are valued and needed by all of our worthy non-profit participants. 
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> I voted, now why can't I see the voting results of who's winning so far?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> To keep things interesting, we've decided to keep voting tallies private until the donation account reaches $1000 in contributions. At that point, each charity's progress will be made public and the pressure is on!
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> Who are you and why should I believe this is a credible project?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> We are a group of 4 Evening graduate students at the University of Chicago Booth School of Business: Thomas Oakes, Matthew Olson, Amit Lamba and Laura Williams. This study is a class project for '34201-81 Building Internet Startups: Risk, Reward &amp; Failure', taught by Eric Lefkosky and Brad Keywell. Please feel free to contact us anytime with questions!
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> What's with the toy bird?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> The bird is actually a phoenix, representative of the University of Chicago (our actual mascot is a "maroon", but even we can't make sense of that).
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> Can my charity get in on this? 
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> Apologies, but in fairness to those who have already donated, the list of participants must remain closed. 
</div>

<div class="question">
  <div class="q-and-a-header">Q:</div> So if I donate, how do I know which charity the money is going to?
</div>
<div class="answer">
  <div class="q-and-a-header">A:</div> Thanks for donating! Your donation will go to one of the profiled charities, but you won't know which until the close of voting on February 15th. 
</div>
